<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
</head>
<body>
<script th:inline="javascript" th:if="${pmsg} != null">
    window.addEventListener('load', function () { alert([[${pmsg}]]); });
</script>

<h1>The list of students</h1>

<div th:if="${pid} != null">
    <p th:text="'ID: ' + ${pid}"></p>
    <p th:text="'Name: ' + ${pname}"></p>
    <p th:text="'Yob: ' + ${pyob}"></p>
    <p th:text="'Gpa: ' + ${pgpa}"></p>
</div>

<p><a th:href="@{/student/new}">Add New</a></p>

<table border="1" cellpadding="10" cellspacing="0">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Year of Birth</th>
        <th>GPA</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${students}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.yob}"></td>
        <td th:text="${item.gpa}"></td>
        <td>
            <a th:href="@{'/student/edit/' + ${item.id}}">Edit</a>
            &nbsp;|&nbsp;
            <a th:href="@{'/student/delete/' + ${item.id}}"
               onclick="return confirm('Delete this student?');">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
